.contoh{
    background-color: beige;
    padding: 1em;
    border-radius: 10px;
    border: .2rem solid blue;
    transition: 1s;
    color: green;
}

.contoh h1{
    text-align: center;
}

.contoh:hover{
    border-color: black;
    transform: scale(1.02);
    color: rgb(179, 17, 17);
}